@use "@/shared/styles/helpers" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding-inline: 10px;
  background-color: var(--color-surface-primary);
  color: var(--color-text-primary);
  box-shadow: var(--box-shadow);
}

.logo {
  filter: drop-shadow(0px 0px 5px #ffffff2e);
}

.actionsWrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.accountActions {
  @include flex-center;

  column-gap: 5px;
}

.userName {
  @include fluid-text(25, 16);

  text-align: end;
  overflow-wrap: anywhere;
}

.appActions {
  display: flex;
  column-gap: 3px;
}
