@use "@/styles/helpers" as *;

.button {
  @include reset-button;
  @include show;

  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  bottom: 35px;
  right: 15px;
  z-index: 10;
  color: var(--color-text-primary);
  transition:
    opacity 0.7s ease-out,
    visibility 0.7s ease-out,
    scale var(--transition-duration),
    transform 0.3s ease;

  @include hover {
    transform: translateY(-1px);
    color: var(--color-surface-secondary);
  }

  &:active {
    transform: translateY(2px);
  }

  &.hidden {
    @include hide;
  }
}

.icon {
  stroke: var(--color-text-primary);
  fill: var(--color-surface-primary);

  @include mobile-s {
    width: 30px;
    height: 30px;
  }
}