@use "@/styles/helpers" as *;

@keyframes todoAppearPanel {
  from {
    opacity: 0;
    height: 0;
    min-height: 0px;
  }
  to {
    opacity: 1;
    height: 50px;
    min-height: 50px;
  }
}

.todo {
  @include fluid-text(18, 16);

  --rowGap: 14px;

  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  padding-inline: 30px;
  padding-top: 26px;
  margin-bottom: 30px;
  row-gap: var(--rowGap);
  border-radius: var(--border-radius);
  background-color: var(--color-surface-primary);
  box-shadow: var(--box-shadow);
  overflow-anchor: none;

  @include mobile {
    padding-inline: 20px;
    padding-top: 18px;
  }

  @include mobile-s {
    padding-inline: 15px;
  }
}

.addForm {
  order: 1;
}

.searchForm {
  order: 2;
  z-index: 1;
}

.list {
  order: 3;
  z-index: 1;
}

.actionsPanel {
  margin-top: calc((var(--rowGap) + var(--border-height)) * -1);
  order: 4;
  z-index: 1;

  &.topPosition {
    margin-top: 0;
    margin-bottom: calc(var(--rowGap) * -1);
    order: 2;
    z-index: 2;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: var(--box-shadow-alt);

    & > *[class*="buttonGroup"] {
      @include mobile-s {
        box-shadow: inset var(--box-shadow);
      }
    }
  }

  &.animatedPanel {
    animation: todoAppearPanel 0.7s ease-in-out;
  }
}

.initLoaderWrapper {
  @include flex-center;

  position: absolute;
  top: 6px;
  left: 6px;

  @include mobile {
    top: 1px;
    left: 0px;
    transform: scale(0.7);
  }

  @include mobile-s {
    margin-left: -2px;
    transform: scale(0.6);
  }
}

.loaderWrapper {
  @include flex-center;

  position: absolute;
  top: 4px;
  right: 4px;

  @include mobile {
    top: 2px;
    right: 2px;
  }
}

.info {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding-block: 15px;
  align-self: center;
  order: 5;
  color: var(--color-text-secondary);
  user-select: none;

  & svg {
    padding-bottom: 5px;
    color: #53c1de;
  }
}
